node_modules
server/node_modules
.git
.dart_tool
.fvm
.idea
.vscode
build
android
ios
web
lib
test
assets
*.svg
*.md
.DS_Store
pubspec.yaml
pubspec.lock
analysis_options.yaml
flutter_launcher_icons.yaml
